*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{

  --bg-color: #132237;
  --panel-color: #0e1a29;
  --text1-color: #ebb723;
  --text2-color: #1cbaac;
  --text3-color: #0b4c6c;

  

  --error-color: #bd4141;
  --error-extra-color: #7e2a2a;
  --colorful-error-color: #bd4141;
  --colorful-error-extra-color: #7e2a2a;

}



body {
  margin: 0;
  border: 0;
  padding: 0;
}

#content {
  box-sizing: border-box;
  gap: 16px;
  background-color: var(--bg-color);
  padding: 16px;
  min-height: 100vh;
}

  #header-bar{
    background-color: var(--panel-color);
    border-radius: 5px;

    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

    #title {
      font-family: monospace;
      font-size: 20px;
      color: var(--text2-color);
      margin: 15px;
    }





  #inner-content {
    display: flex;
    gap: 16px;
    padding-top: 16px;
  }

    .text-content{
      display: flex;
      background-color: var(--panel-color);
      border-radius: 5px;
      width: 100%;

      margin: 0px;
      border: 0px;
      padding: 0px;

      justify-content: center;
    }

    #terminal{
      background-color: #03070c;
      border-radius: 8px;
      border: 3px solid rgba(208, 208, 208, 0.747);
      height: 200px;
      width: 500px;
      color: white;
      padding: 20px;
      font-family: monospace;
    }
    #terminal #typed-chars {
      animation: typist 1s steps(5) forwards;
      overflow: hidden;
      width: 0;
    }
    @keyframes typist {
      0%{ width: 0ch };
      30%{ width: 5ch };
      
    }

    #terminal #terminal-symbol{
      color: rgb(17, 211, 17);
    }

    .inner-text-content{
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
      /* border: 2px solid red; */
      width: 700px;
    }

      .inner-text-content h1{
        font-family: monospace;
        font-size: 25px;
        color: var(--text1-color);
      }

      .inner-text-content p{
        font-family: monospace;
        font-size: 20px;
        color: var(--text3-color);
      }



    #sidepanel {
      display: flex;
      flex-direction: column;
      background-color: var(--panel-color);
      border-radius: 5px;
      width: 185px;
      padding: 15px;
      gap: 5px;
      height: 100%;
      flex-shrink: 0;
      
    }


      .menu-entry {
        font-family: monospace;
        color: var(--bg-color);
      }


      #folder-button{
        background-color: var(--bg-color);
        color: var(--text2-color);
        font-size: 15px;
        border: none;
        border-radius: 5px;
        height: 25px;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;


      }

        #folder-button:hover{
            color: var(--text1-color);

          }
        
        #selector {
          visibility: hidden;
          transition: transform 0.2s ease;
        }

        #folder-button:hover #selector{
            visibility: visible;
            transform: translateX(-4px);

          }